body{
    background-image: url("./assets/images/bg0.jpg");
    background-repeat: no-repeat;
    background-color: #14213d;
    height: 100vh;
    width: 100vw;
}

.main{
padding: 1rem;
}

input{
    width: 80%;
    display: flex;
    margin: auto;
    height: 2rem;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    opacity: 0.5;
}

input:focus{
    transform: scale(1.1);
    opacity: 0.8;
}